<html>
  <head>
    <title>Detalle del producto</title>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="css/EstiloDetalleProducto.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" /> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
  </head> 
  

  <div class="Encabezado">

    <img  class="logo" src="./imagenSprint/logo-gran-via.webp"  >
    <p0>
       <form action="resultado.html" method="get">
      <label for="nombre" > </label>
      <input type="text" id="nombre" placeholder="Buscá tus productos">
      <button><i class="fa-solid fa-magnifying-glass"></i></button>
      </form>
    
    </p0>
     
    <p1><img class="p1" src="./imagenSprint/carroIcono.jpg"></p1>
    <p2>Mi carrito</p2>
    <p1><img class="p1" src="./imagenSprint/loginIcono.jpg"></p1>
    <p2><a href="/login">inicio/ registro</a></p2> 
    
  </div>
 
   <div class="opciones1"> 
      <p>Hogar</p>
      <p>Mercaderia</p>
      <p>Helectrodomesticos</p>
      <p>Ferreteria</p>
      <p>Jardineria</p>
  </div> 
   
  <div class="opciones2">
    <p>Catalogo</p>
    <p>Ofertas</p>
    <p>Categoria</p>
    <p>Descuentos</p>
    <p>Sucursales</p>
  
  </div>
<div1>
  <div class="producto">

  <div class="ComoSeLlego">
    <p>Inicio</p>
    <p>></p>
    <p>Almacen</p>
    <p>></p>
    <p>Golosinas</p>
    <p>></p>
    <p>Caramelos</p>
  </div>
  
  <img class="logoProducto" src="./imagenSprint/Caramelos-Fizz-caja-x-48unid.webp" >
</div>
  
   <div class="descripcion">
    
      <div class="caracteristicas">
        <p class="nombre-producto">Fizz</p>
        <p class="tipo-producto">Caramelos rellenos con efervescente</p>
        <p class="precio">$ 2.700 </p>
        <p class="porMayor">Llevando 10: $2.500 c/u</p>
          <io class="datos" >
            <li>Contenido: 833.49 g</li>
            <li>Cantidad:48 tiras <p class="mas-info">5 unidades c/u</p> </li>
          </io>
            <div class="sumaProducto">
              <p class="ladoIzquierdoSumaProducto">-</p>
              <p class="espacio">1</p>
              <p class="ladoDerechoSumaProducto">+</p>
              <p class="agregar">Agregar</p>
            </div>
      </div>
  </div>
</div>

</body>
</html>