<html>
  <head>
    <title>Detalle del producto</title>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="css/EstiloDetalleProducto.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" /> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
  </head> 

  <div class="arriba">
    <p class="logoRaton"><img src="./imagenSprint/logoTrucho.png"></p>
    <p class="busqueda"><i class="fa-sharp fa-solid fa-magnifying-glass"></i>¿Que estas buscando?</p>
    <p class="carrito_persona_img"></pclass><i class="fa-solid fa-cart-shopping"></i></p>
    <p class="carrito_persona">Mi carrito</p>
    <p class="carrito_persona_img"><i class="fa-sharp fa-regular fa-user"></i></p>
    <p class="carrito_persona">inicio/registro</p> 
  </div>
 
  <div class="opciones1"> 
    <div class="letrasOPciones1">
      <p>Mercaderia</p>
      <p>Ferreteria</p>
      <p>Hogar</p>
      <p>Helectrodomesticos</p>
      <p>Jardineria</p>
    </div> 
  </div>
   
  <div class="opciones2">
    <p>Categoria</p>
    <p>Ofertas</p>
    <p>Catalogo</p>
    <p>Sucursales</p>
    <p>Atencion al cliente</p>
    <p>Descuentos</p>
  </div>

  <div class="ComoSeLlego">
    <p>Inicio</p>
    <p>></p>
    <p>Almacen</p>
    <p>></p>
    <p>Golosinas</p>
    <p>></p>
    <p>Caramelos</p>
  </div>

  <div class="imgYdescripcion">
    <p class="logoProducto"><img src="./imagenSprint/Caramelos-Fizz-caja-x-48unid.webp" ></p>
      <div class="descripcion">
        <p class="fizz_precio">Fizz</p>
        <p class="Producto">Caramelos rellenos con efervescente</p>
        <p class="fizz_precio">$ 2.700 </p>
        <p class="porMayor">Llevando 10: $2.500 c/u</p>
          <io class="caracteristicas" >
            <li>Contenido: 833.49 g</li>
            <li>Cantidad:48 tiras de 5 unidades c/u</li>
          </io>
            <div class="sumaProducto">
              <p class="ladoIzquierdoSumaProducto">-</p>
              <p class="espacio">1</p>
              <p class="ladoDerechoSumaProducto">+</p>
              <p class="agregar">Agregar</p>
            </div>
      </div>
  </div>
</body>
</html>