<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/footer.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>




    <footer>
<section>
<ul class="footer1">
    <li>Tienda Online</li>
    <li>Conocenos</li>
    <li>Redes</li>
</ul>
</section>
<section class="footer2">
    <ul>
        <li>DESCUENTOS</li>
        <li>OFERTAS</li>
        <li>CATALOGOS</li>
    </ul>
    <ul>
        <li>TRABAJA CON NOSOTROS</li>
        <li>PREGUNTAS FRECUENTES</li>
        <li>SERVICIOS</li>
    </ul>
    <ul>
        <li>FACE</li>
        <li>INSTA</li>
        <li>TWTER</li>
        <li>youtbe</li>
    </ul>

</section>


<p class="titulo">INFO UTIL</p>

<section class="footer3">
    
    
    <ul>
        <li>LEGALES</li>
        <li>TASAS DE INTERESES</li>
        <li>CONTACTO</li>
    </ul>
    <div class="botones">
    <button type="submit">BOTON DE ARREPENTIMIENTO</button><br>
    <button type="submit">BOTON DE BAJA</button>
    </div>

</section>
    




    </footer>
    
</body>
</html>