<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    rel="stylesheet" />
    <title>Supermercado</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" /> 


</head>
<body>
  <div class="Encabezado">

    <img class="logo" src="./imagenSprint/logo-gran-via.webp">
    <p0>
       <form action="resultado.html" method="get">
      <label for="nombre" > </label>
      <input type="text" id="nombre" placeholder="Buscá tus productos">
      <button class="button1"><i class="fa-solid fa-magnifying-glass"></i></button>
      </form>
    
    </p0>
     
    <p1><img class="p1" src="./imagenSprint/carroIcono.jpg"></p1>
    <p2>Mi carrito</p2>
    <p1><img class="p1" src="./imagenSprint/loginIcono.jpg"></p1>
    <p2><a href="/login">inicio/ registro</a></p2> 
</div>

    <div class="opciones1"> 
        <p>Hogar</p>
        <p>Mercaderia</p>
        <p>Electrodomesticos</p>
        <p>Ferreteria</p>
        <p>Jardineria</p>
    </div>


     <main>


      <img src="./imagenSprint/carrusel.jpg" alt="carrusel" class="carrusel">
          
        <div class="cajaDescuentos">
      <div class="boton">
        <p0><img src="./imagenSprint/galicia.jpg" alt="" class="imagenBotonGalicia"></p0>
          <p class="texto">Descuentos de hasta un 25% con Galicia</p>
      </div>

      <div class="boton">
        <img src="./imagenSprint/visa.png" alt="" class="imagenBoton">
          <p class="texto">Todos los martes 15% de Descuento con Visa </p>
      </div>
       </div>

       <div class="subtitulo">Productos para vos</div>
        <div class="productos">
       <div class="producto1">
        <div>
        <img src="./imagenSprint/queso.jpg" alt="" class="queso">
        </div>
        <div class="descripcion">
        <p>Queso Casancrem Clasico 480g</p>
        <p>Leche entera, crema, proteínas lácteas, almidón modificado de maíz, gelatina, sal, vitamina b12, cultivos lácticos, vitamina b3, vitamina a, vitamina d, ácido fólico (vitamina b9), conservante (ins 202), leche</div>
        </p>
        </div>
        <div class="producto2">
            <div>
            <img src="./imagenSprint/mayonesa.jpg" alt="" class="mayonesa">
            </div>
            <div class="descripcionMayonesa">
            <p>Aderezo De Ajo Hellmanns X340gr</p>
            <p>Agua, aceite vegetal, almidón modificado, azúcar, vinagre de alcohol, sal, ajo, jugo de limón concentrado, aromatizante natural, aromatizante idéntico al natural, estabilizante goma xántica, conservador ácido sórbico, acidulante ácido fosfórico, colorante caramelo iv, secuestrante edta disódico cálcico, antioxidante bha, antioxidante bht
            </p>
            </div>
        </div>
     </main>
     <div class="sucursal">Busca tu Sucursal</div>



     <footer>
      <section>
      <ul class="footer1">
          <li>Tienda Online</li>
          <li>Conocenos</li>
          <li>Redes</li>
      </ul>
      </section>
      <section class="footer2">
          <ul>
              <li>DESCUENTOS</li>
              <li>OFERTAS</li>
              <li>CATALOGOS</li>
          </ul>
          <ul>
              <li>TRABAJA CON NOSOTROS</li>
              <li>PREGUNTAS FRECUENTES</li>
              <li>SERVICIOS</li>
          </ul>
          <ul class="redes">
              <li><img src="./imagenSprint/facebook.png" width="40px" ></li>
              <li><img src="./imagenSprint/google.png" width="40px" ></li>
              <li><img src="./imagenSprint/instagram.jpg" width="40px" ></li>
              <li><img src="./imagenSprint/yotube.png" width="40px" height="40px" ></li>
          </ul>
      
      </section>
      
      
      <p class="titulo">INFO UTIL</p>
      
      <section class="footer3">
          
          
          <ul>
              <li>LEGALES</li>
              <li>TASAS DE INTERESES</li>
              <li>CONTACTO</li>
          </ul>
          <div class="botones">
          <button class="button2" type="submit">BOTON DE ARREPENTIMIENTO</button><br>
          <button class="button2" type="submit">BOTON DE BAJA</button>
          </div>
      
      </section>
          
      
          </footer>

</body>
</html>