<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    rel="stylesheet" />
    <title>Supermercado</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300&family=Roboto:wght@300&display=swap" rel="stylesheet">

</head>
<body>
    <header>
      <div class="logo">
    <img src="./imagenSprint/logoSupermercado.png" alt="logo" class="logoIcono">
    </div>
    <div class="busqueda">
    <input type="text" name="busqueda" value="Buscá tus productos"> <i class="fas fa-search" id="lupaIcono"></i>
     </div>
    <div class="caja">
    <div class="carrito">
    <a href=""> <img src="./imagenSprint/carroIcono.jpg" alt="carrito" class="carritoIcono"> Mi carrito</a>
     </div>
     <div class="login">
    <a href=""> <img src="./imagenSprint/loginIcono.jpg" alt="login" class="loginIcono">Inicio/Registro</a>
    </div>
     </div>
    </header>
    <nav>
        <ul>
            <li>Mercadera</li>
            <li>Ferreteria</li>
            <li>Hogar</li>
            <li>Electrodomesticos</li>
            <li>Jardineria</li>
        </ul>
     </nav>


     <main>
      <img src="./imagenSprint/imagenCarrusel.jpg" alt="carrusel" class="carrusel">

     </main>

</body>
</html>