<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    rel="stylesheet" />
    <title>Supermercado</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300&family=Roboto:wght@300&display=swap" rel="stylesheet">

</head>
<body>
    <header>
      <div class="logo">
    <img src="./imagenSprint/logoSupermercado.png" alt="logo" class="logoIcono">
    </div>
    <div class="busqueda">
    <input type="text" name="busqueda" value="Buscá tus productos"> <i class="fas fa-search" id="lupaIcono"></i>
     </div>
    <div class="caja">
    <div class="carrito">
    <a href=""> <img src="./imagenSprint/carroIcono.jpg" alt="carrito" class="carritoIcono"> Mi carrito</a>
     </div>
     <div class="login">
    <a href=""> <img src="./imagenSprint/loginIcono.jpg" alt="login" class="loginIcono">Inicio/Registro</a>
    </div>
     </div>
    </header>
    <nav>
        <ul>
            <li>Mercadera</li>
            <li>Ferreteria</li>
            <li>Hogar</li>
            <li>Electrodomesticos</li>
            <li>Jardineria</li>
        </ul>
     </nav>


     <main>


      <img src="./imagenSprint/carrusel.jpg" alt="carrusel" class="carrusel">
          
        <div class="cajaDescuentos">
      <div class="boton">
        <a href=""><img src="./imagenSprint/galicia.jpg" alt="" class="imagenBotonGalicia"><p class="texto">Descuentos de hasta un 25% con Galicia</p></a>
      </div>

      <div class="boton">
        <a href=""> <img src="./imagenSprint/visa.png" alt="" class="imagenBoton"><p class="texto">Todos los martes 15% de Descuento con Visa </p></a>
      </div>
       </div>

       <div class="subtitulo">Productos para vos</div>
        <div class="productos">
       <div class="producto1">
        <div>
        <img src="./imagenSprint/queso.jpg" alt="" class="queso">
        </div>
        <div class="descripcion">
        <p>Queso Casancrem Clasico 480g</p>
        <p>Leche entera, crema, proteínas lácteas, almidón modificado de maíz, gelatina, sal, vitamina b12, cultivos lácticos, vitamina b3, vitamina a, vitamina d, ácido fólico (vitamina b9), conservante (ins 202), leche</div>
        </p>
        </div>
        <div class="producto2">
            <div>
            <img src="./imagenSprint/mayonesa.jpg" alt="" class="mayonesa">
            </div>
            <div class="descripcionMayonesa">
            <p>Aderezo De Ajo Hellmanns X340gr</p>
            <p>Agua, aceite vegetal, almidón modificado, azúcar, vinagre de alcohol, sal, ajo, jugo de limón concentrado, aromatizante natural, aromatizante idéntico al natural, estabilizante goma xántica, conservador ácido sórbico, acidulante ácido fosfórico, colorante caramelo iv, secuestrante edta disódico cálcico, antioxidante bha, antioxidante bht
            </p>
            </div>
        </div>
     </main>
     <div class="sucursal">Busca tu Sucursal</div>

</body>
</html>