.arriba{
    background-color: #e0e0e0    ;
    display: flex;
    flex-direction:row;
    }
.logoRaton{
    width: 100px;
    height: 140px;
    display: flex;
    margin-left: 80px;
    margin-right: 160px;
  }
.busqueda{
    background-color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 40px;
    padding: 10px;
    border: solid 2px black;
    border-radius: 30px;
    margin-top: 60px;
    margin-bottom: 30px;
    margin-right: 85px;
}
.carrito_persona{
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-right: 25px;
    margin-left: 10px;
}
#inicio-registro{
    text-decoration: none;
    color: black;
}


.carrito_persona_img{
    font-size: 50px;
    background-color: aliceblue;
    width: 60px;
    height:60px ;
    display: flex;    
    justify-content: center; 
    align-items: center;
    padding: 10px;
    border: solid 2px black;
    border-radius: 50%;
}
.opciones1{
    background-color: #009688;
    border-top: solid 1px black;
}
.letrasOPciones1{
    height: 50px;
    font-size: 25px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    margin: 0px 300px 0px;
}
.opciones2{
    height: 35px;
    font-size: 20px;
    background-color: #FABA5B; 
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    align-items: center;
    border-top: solid 1px black;
    border-bottom:  solid 1px black;
}
.ComoSeLlego{
    width: 550;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 70px;
    margin-left: 20px;
}
.logoProducto{
    background-color: #DA7110;
    display: flex;
    width: 500px;
    height: 500px;
    padding: 30px 0px 30px;
    border: solid 1px black;
    margin: 10px 0px 0px 40px;
}
.imgYdescripcion{
    display: flex;
    flex-direction: row;
}
.descripcion{
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    margin-top: 30px;
}
.fizz_precio{
    font-size: 30px;
    color: gray;
    margin: 5px;
}
.Producto{
    font-size: 40px;
    background-color: #FDA33A;
    padding: 0px 20px 0px;
    border: solid 2px black;
    border-radius: 50px;
    margin-top: 0px;
    margin-bottom: 30px ;
}
.porMayor{
    font-size: 15px;
    color: gray;
    margin-top: 0px;
    margin-bottom: 30px ;
}
.caracteristicas{
    font-size: 20px;
    width: 320;
    background-color: #0FC2CD;
    padding: 0px 10px 0px 15px;
    border: solid 2px black;
    border-radius: 50px;
    margin-bottom: 80px;
}
.sumaProducto{
    display: flex;
    flex-direction: row;
}
.ladoIzquierdoSumaProducto{
    font-size: 40px;
    width: 10px;
    height:40px ;
    background-color: #6ED9FB;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    padding: 0px 10px 10px 10px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border: solid 2px black;
}
.espacio{
    font-size: 40px;
    width: 55px;
    height:50px ;
    background-color: #6ED9FB;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    margin-top: 40px;
}
.ladoDerechoSumaProducto{
    font-size: 40px;
    width: 20px;
    height:50px ;
    background-color: #6ED9FB;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    padding: 0px 5px 0px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border: solid 2px black;
}
.agregar{
    font-size: 40px;
    width: 170px;
    height:45px ;
    background-color: #DF6107;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    padding: 0px 5px 5px;
    border: solid 2px black;
    border-radius: 30px;
    margin-left: 100;
}