body{margin: 0;}
.Encabezado{
    background-color: #e0e0e0    ;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    }
.logo{
    width: 12vw;
    height: 80%;
    display: flex;
    margin-left: 1.2%;
  }
.Encabezado p0{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15%;
    margin-right: 20%;
    margin-bottom: 0;
}    
input{
    padding: 5% 15%;
    border-right: 0;
    border-bottom: solid 2px black;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
  }
  form{
    display: flex;
    margin-bottom: 0;
  }
  button{
    padding: 5% 5%;
    justify-content: center;
    align-items: center;
    border-left: 0;
    border-top: solid 2px black;
    background-color: white;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
  }
.p1{
    font-size: 20px; 
    width: 5vw;
    height: 31%;
    background-color: aliceblue;
    display: flex;    
    justify-content: center; 
    align-items: center;
    border-radius: 50%;
}
.Encabezado p2{
    font-size:15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 50%;
}
.opciones1{
    font-size: 20px;
    height: 50px;
    color: white;
    background-color: #009688;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: solid 1px black;
}
.opciones2{
    font-size: 15px;
    height: 40px;
    background-color: #FABA5B;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: solid 1px black;
    border-top: solid 1px black;
    border-bottom:  solid 1px black;
}
div1{
    display: flex;
    flex-direction: row;
}
.producto{
    font-size: 12px;
    width: 45vw;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}
.ComoSeLlego{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.logoProducto{
    margin: 0 5%;
    background-color: #DA7110;
    display: flex;
    border: solid 1px black;
}
.descripcion{
    width: 55vw;
    display: flex;
    flex-direction: column;
}

.nombre-producto{
    font-size: 20px;
    color: gray;
    margin-left: 10%;
    margin: 25px 0 5% 10%;
}
.tipo-producto{
    max-width:300px;
    font-size: 20px;
    background-color: #FDA33A;
    padding-left: 2%;
    border: solid 2px black;
    border-radius: 50px;
    margin-left: 8%;
    margin-right: 2%;
}
.precio{
    display: flex;
    font-size: 15px;
    margin-left: 10%;

}
.porMayor{
    display: none;
    font-size: 15px;
    color: gray;
    margin-left: 10%;
}
.datos{
    display: none;
    width: 200px;
    flex-direction: column;
    font-size: 20px;
    background-color: #0FC2CD;
    padding-left: 5%;
    margin-left: 8%;
    border: solid 2px black;
    border-radius: 50px;
}
.mas-info{
    display: none;
}
.sumaProducto{
    display: flex;
    flex-direction: row;
}
.ladoIzquierdoSumaProducto{
    font-size: 30px;
    width: 15px;
    height:15% ;
    background-color: #6ED9FB;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    padding: 0px 5px 0px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border: solid 2px black;
    margin-left: 8%;
}
.espacio{
    font-size: 30px;
    width: 15px;
    height:15% ;
    background-color: #6ED9FB;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    padding: 0px 5px 0px;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
}
.ladoDerechoSumaProducto{
    font-size: 30px;
    width: 15px;
    height:15% ;
    background-color: #6ED9FB;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    padding: 0px 5px 0px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border: solid 2px black;
}
.agregar{
    font-size: 30px;
    background-color: #DF6107;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    padding: 0 4%;
    border: solid 2px black;
    border-radius: 30px;
    margin-left: 5%;
   
}
@media(max-width:390px){
    .Encabezado{
        height: 70px;
    }
    .p1{
        font-size: 15px;
    }
    .Encabezado p2{
        font-size:13px;
    }
    .opciones1{
        font-size: 15px;
    }
    .ComoSeLlego{
        font-size: 10px;
        color: black;
    }
    .ladoIzquierdoSumaProducto{
        width: 10px;
        font-size: 20px;
        margin-top: 0;
    }
    .espacio{
        width: 15px;
        font-size: 20px;
        margin: 0 0;
    }
    .ladoDerechoSumaProducto{
        width: 10px;
        font-size: 20px;
        margin: 0 0;
    }
    .agregar{
        height: 23px;
        font-size: 20px;
        margin: 0 5px;
    }
  }
  @media(min-width:390px){
    .datos{
        display: flex;
    }
  }
@media(min-width:769px){
    .opciones1{
        font-size: 25px;
        }
        .opciones2{
            font-size: 20px;
            }
    .porMayor{
        display: flex;
    }
    .datos{
        display: flex;
    }
    .Encabezado{
        height: 140px;
        }
        .ComoSeLlego{
            font-size: 20px;
        }
        .nombre-producto{
            font-size: 40px;
            margin: 25px 0 5% 8%;
        }
        .tipo-producto{
            max-width:450px;
            font-size: 30px;
        }
        .precio{  
            font-size: 25px;
        }
        .porMayor{
            font-size: 25px;
        }
        .datos{
            width: 300px;
            font-size: 30px;
        }
        .ladoIzquierdoSumaProducto{
            font-size: 50px;
            width: 30px;
        }
        .espacio{
            font-size: 50px;
            width: 40px;
        }
        .ladoDerechoSumaProducto{
            font-size: 50px;
            width: 30px;
        }
        .agregar{
            font-size: 50px;
        }
}  
@media(min-width:1200px){
    input{
        width: 30vw;
        padding: 2%;
      }
      button{
        padding: 2% 3%;
      }
    .opciones1{
        font-size: 40px;
        }
    .ComoSeLlego{
        font-size: 30px;
    }
    .logo{
        margin-left: 30px;
    }
    .Encabezado p0{
        height: 40%;
        width: 70vw;
        margin: 0 250px;
        font-size: 25px;
    }    
    .p1{
        font-size: 40px;
        width: 4vw;
        height: 49.109%;
    }
    .Encabezado p2{
        width: 10vw;
        font-size: 17px;
        margin-right: 1%;
}
.nombre-producto{
    font-size: 50px;
}
.tipo-producto{
    max-width:600px;
    font-size: 40px;
}
.precio{  
    font-size: 35px;
}
.porMayor{
    font-size: 35px;
}
.datos{
    width: 450px;
    font-size: 40px;
}
.ladoIzquierdoSumaProducto{
    font-size: 50px;
    width: 30px;
}
.espacio{
    font-size: 50px;
    width: 40px;
}
.ladoDerechoSumaProducto{
    font-size: 50px;
    width: 30px;
}
.agregar{
    font-size: 50px;
}
.nombre-producto{
    margin-top: 35px;
}
.opciones2{
    font-size: 35px;
}
}