header{
    background-color: #e0e0e0;
    
}
.logo{
    width: 115px;
    height: 115px;
    border-radius: 50px;
}
.logoIcono{
    width: 150px;
    height: 150px;
    border-radius: 50px;
    margin-left: 25%;
    margin-top: 35%;
}
.carritoIcono{
    width: 65px;
    height: 65px;
    border-radius: 50px;
}
.loginIcono{
    width: 65px;
    height: 65px;
    border-radius: 50px;
}

.caja{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;

}
a{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.busqueda{
    height: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}
input{
    font-size: 15px;
    width: 40%;
    height: 30px;
    border-radius: 25px;
    border: solid #e0e0e0 3px;
    text-align: center;
    color: gray;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}
#lupaIcono{
    height: 10px;
}
nav{
    background-color: #009688;
}
ul li{
    list-style: none;
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    font-size: 25px;
}
ul{
    display: flex;
    height: 20%;
    justify-content: space-evenly;
    padding:2%;
    margin: 0;
}
.carrusel{
    display: flex;
    width: 85%;
    height: 300px;
    margin: auto;
    margin-top: 10px;
}
.boton{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-left: 8%;
    width: 27%;
    border-radius: 25px;
    border: solid #009688 3px;
}
.texto{
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-left: 22%;
  width: 100%;
  font-family: 'Bebas Neue', sans-serif;
  
}
.imagenBoton{
    margin-left: 45%;
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 60%;
}
.imagenBotonGalicia{
    margin-left: 45%;
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 80%;
}
.cajaDescuentos{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
}
.subtitulo{
    text-align: center;
    width: 20%;
    border-radius: 20px;
    margin-left: 15px;
    margin-top: 20px;
    display: inline-block;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 35px;
    background-color: #009688;
    color: white;
    margin-bottom: 55px;
}
.producto1{
    border-radius: 23px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    border: solid 8px #009688;
    width: 40%;
    margin-left: 10%;
}
.queso{
    width: 100%;
    margin-left: 2%;
    margin-top: 6%;
}
.descripcion{
    margin-right: 15%;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    border: solid #009688 2px;
    border-radius: 20px;
    height: 80%;
    margin-top: 15px;
    padding: 3px;
}
.producto2{
    border-radius: 23px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    border: solid 8px #009688;
    width: 40%;
    margin-left: 100px;
}
.mayonesa{
    width: 150%;
    margin-left: 5%;
    margin-top: 40%;
}
.descripcionMayonesa{
    margin-right: 15%;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-left: 15%;
    border: #009688 2px solid;
    margin-top: 15px;
    border-radius: 20px;
    height: 90%;
    padding: 3px;
}
.productos{
    display: flex;
    flex-direction: row;
}
.sucursal{
    margin-top: 55px;
    display: flex;
    background-color: #009688;
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 35px;
    border-radius: 23px;
    width: 45%;
    text-align: center;
    justify-content: center;
    margin-left: 30%;
}