
<footer>
    <section>
    <ul class="footer1">
        <li>Tienda Online</li>
        <li>Conocenos</li>
        <li>Redes</li>
    </ul>
    </section>
    <section class="footer2">
        <ul>
            <li>DESCUENTOS</li>
            <li>OFERTAS</li>
            <li>CATALOGOS</li>
        </ul>
        <ul>
            <li>TRABAJA CON NOSOTROS</li>
            <li>PREGUNTAS FRECUENTES</li>
            <li>SERVICIOS</li>
        </ul>
        <ul class="redes">
            <li><img src="./imagenSprint/facebook.png" width="40px" ></li>
            <li><img src="./imagenSprint/google.png" width="40px" ></li>
            <li><img src="./imagenSprint/instagram.jpg" width="40px" ></li>
            <li><img src="./imagenSprint/yotube.png" width="40px" height="40px" ></li>
        </ul>
    
    </section>
    
    
    <p class="titulo">INFO UTIL</p>
    
    <section class="footer3">
        
        
        <ul>
            <li>LEGALES</li>
            <li>TASAS DE INTERESES</li>
            <li>CONTACTO</li>
        </ul>
        <div class="botones">
        <button class="button2" type="submit">BOTON DE ARREPENTIMIENTO</button><br>
        <button class="button2" type="submit">BOTON DE BAJA</button>
        </div>
    
    </section>
        
    
        </footer>