<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/login.css" rel="stylesheet">

    <title>Document</title>
</head>
<body>


<main id="login"> 

<div id="registrarse">
    <h2>hola!!!</h2>
    <h3>crear tu cuenta</h3>
    <p id="boton-registrarse"><button type="submit">Registrarse</button></p>
    <img src="./imagenSprint/descuento.webp" width="250px">
    <h2>¡Registrate y obtene un 20% de descuento en tu primera compra mayor a $100.000!</h2>
    <p>¡Sigue los pasos de registro para canjear tus recompensas y comienza tu experiencia con nosotros!</p>
    
</div>


    <div id="formulario">
    
        
        <form action="/" method="GET">
            <h1 id="Bienvenidos">BIENVENIDOS</h1>
     
            <article id="logos">
            <a href="https://www.facebook.com/" ><img src="/imagenSprint/facebook.png" alt="" width="100%" ></a>
            <a href="https://www.google.com/intl/es-419/gmail/about/"><img src="/imagenSprint/google.png" alt=""  width="100%"></a> 


            <!-- <a href="https://www.facebook.com/"></a> -->
            <!-- <a href="https://www.google.com/intl/es-419/gmail/about/"></a> -->

           </article>

         <p >
         <input type="text" name="nombre" placeholder="Nombre de usuario" >
         </p>
         <p>
             <input type="password" name="contraseña"  placeholder="contraseña">
         </p>
         <p>
            <a href="#" id="link">¿olvidaste tu contraseña?</a> 

         </p>

         <p >
         <button type="submit"><a id="boton" href="/">Iniciar secion</a></button>
         </p>
     
        </form>
       </div>
       </main>
     





    
</body>
</html>